body {  
    font-family: 'Arial', sans-serif, 'Georgia', serif; /* Adicionando uma fonte alternativa (Georgia) */
    margin: 0;
    padding: 0;
    background-color: #f0e6f6; /* Roxo bem clarinho */
    font-size: 14px; /* Ajuste do tamanho da fonte */
}

.container {
    width: 80%;
    margin: auto;
    background-color: #ffffff; /* Fundo branco */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

header {
    text-align: center;
    background-color: #f0e6f6; /* Roxo claro */
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #9932cc; /* Borda roxa à esquerda */
    border-top-left-radius: 12px; /* Arredondando o topo esquerdo */
    border-bottom-left-radius: 12px; /* Arredondando o fundo esquerdo */
    margin-bottom: 20px; /* Distância entre o cabeçalho e o resto */
}

header h1 {
    color: #4b0082; /* Roxo escuro */
    font-size: 24px; /* Ajuste do tamanho da fonte */
    font-weight: bold; /* Usando negrito */
}

header #foto {
    margin-top: 15px;
}

header #foto img {
    width: 150px; /* Ajuste do tamanho da foto */
    height: 150px; /* Ajuste do tamanho da foto */
    box-sizing: border-box; /* Garante que o tamanho da imagem inclua a borda */
}

.titulo-secao {
    color: black;
    padding: 8px;
    background-color: #f0e6f6; /* Fundo lilás */
    text-transform: uppercase;
    font-size: 16px; /* Ajuste do tamanho da fonte */
    margin-bottom: 15px;
    border-left: 5px solid #9932cc; /* Borda roxa à esquerda */
    font-style: italic; /* Usando itálico */
    border-radius: 8px; /* Arredondando a borda da seção */
}

.conteudo-secao {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f0e6f6; /* Fundo lilás */
    border-radius: 4px;
    font-size: 14px; /* Ajuste do tamanho da fonte */
    color: black;
}

a {
    color: #5e00a1; /* Roxo escuro */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Apenas underline ao passar o mouse */
    color: #9018cc; /* Novo roxo para o hover */
}

a[href^="mailto:"],
a[href*="linkedin.com"],
a[href*="github.com"] {
    text-decoration: underline; /* Adicionando apenas underline no link de e-mail, LinkedIn e GitHub */
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #9932cc; /* Roxo vibrante */
    color: white;
    border-radius: 4px;
    font-size: 12px; /* Ajuste do tamanho da fonte */
    border-left: 5px solid #9932cc; /* Borda roxa à esquerda */
    border-top-left-radius: 12px; /* Arredondando o topo esquerdo do footer */
    border-bottom-left-radius: 12px; /* Arredondando o fundo esquerdo do footer */
}

/* ODS Container */
.ods-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /* Aumentando o espaço entre os itens */
    margin: 30px 0;
}

.ods-item {
    background-color: #f0e6f6; /* Fundo lilás */
    padding: 25px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito de transição */
    border-left: 5px solid #9932cc; /* Borda roxa à esquerda */
    border-radius: 8px; /* Arredondando as bordas da caixa de ODS */
}

.ods-item:hover {
    transform: translateY(-10px); /* Levantar um pouco o item ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar a sombra ao passar o mouse */
}

.ods-item h3 {
    color: #4b0082; /* Roxo escuro */
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px; /* Distância entre título e imagem */
}

.ods-item figure {
    margin: 0;
}

.ods-item img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    border: 2px solid #9932cc; /* Borda roxa nas imagens */
}
